name: Go CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v5
    
    # - uses: nao1215/actions-ebitengine@v0

    - uses: actions/setup-go@v6
      with:
        go-version-file: go.mod
        check-latest: true
    
    - name: golangci-lint
      uses: golangci/golangci-lint-action@v9

    - name: Run go vet
      run: go vet ./...

    # - name: Run tests
    #   run: go test -v ./test/...

    - name: Build
      run: go build -v ./...
